<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{{asset('front/img/fav.png')}}">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>international trip</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{{asset('front/css/linearicons.css')}}">
			<link rel="stylesheet" href="{{asset('front/css/font-awesome.min.css')}}">
			<link rel="stylesheet" href="{{asset('front/css/bootstrap.css')}}">
			<link rel="stylesheet" href="{{asset('front/css/magnific-popup.css')}}">
			<link rel="stylesheet" href="{{asset('front/css/jquery-ui.css')}}">				
			<link rel="stylesheet" href="{{asset('front/css/nice-select.css')}}">							
			<link rel="stylesheet" href="{{asset('front/css/animate.min.css')}}">
			<link rel="stylesheet" href="{{asset('front/css/owl.carousel.css')}}">				
			<link rel="stylesheet" href="{{asset('front/css/main.css')}}">
		</head>
        <body>	
			<header id="header" style="background-color: gray;">
				<div class="header-top">
					<div class="container">
			  		<div class="row align-items-center">
			  			<div class="col-lg-6 col-sm-6 col-6 header-top-left">
			  				<ul>
			  					<li><a href="#">Visit Us</a></li>
			  					<li><a href="#">Buy Tickets</a></li>
			  				</ul>			
			  			</div>
			  			<div class="col-lg-6 col-sm-6 col-6 header-top-right">
							<div class="header-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
							</div>
			  			</div>
			  		</div>			  					
					</div>
				</div>
				<div class="container main-menu">
					<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="{{asset('assets/images/logo.png')}}" width="130" height="100" alt="" title="" /></a>INTERNATIONAL TRIP
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li><a href=""{{path('app_homef')}}"">Home</a></li>
				          <li><a href="about.html">About</a></li>
				          <li><a href="packages.html">Packages</a></li>
				          <li><a href="hotels.html">Hotels</a></li>
				          <li><a href="insurance.html">Insurence</a></li>				          					          		          
				          <li class="user-profile header-notification">
                              <a href="#!" class="waves-effect waves-light">
                                  <img src="{{asset('assets/images/avatar-4.jpg')}}" height="30" width="30" class="img-radius" alt="User-Profile-Image">
                                  <span>{{ app.user.username }}</span>
                                  <i class="ti-angle-down"></i>
                              </a>
                              <ul class="show-notification profile-notification">
                                  <li class="waves-effect waves-light">
                                      <a href="/profil">
                                          <i class="ti-user"></i> Profil
                                      </a>
                                  </li>
                                  <li class="waves-effect waves-light">
                                      <a href="{{path('app_logout')}}">
                                          <i class="ti-layout-sidebar-left"></i> deconnecter
                                      </a>
                                  </li>
                              </ul>
                          </li>
				        </ul>
				      </nav><!-- #nav-menu-container -->					      		  
					</div>
				</div>
			</header><!-- #header -->
			
			<!-- start banner Area -->
			<section class="banner-area relative"></section>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            <div class="grix xs4 container">
            <center>
            {% for message  in app.flashes('message') %}
            <div class ="col-xs4">
               <div class ="p-3 my-2 rounded-2 success">{{message}}</div>
            </div>
            {% endfor %}
              <div class="col-xs4"><h1>Profil de {{app.user.nom}} {{app.user.prenom}}</h1></div>
              <br>
              <div class="col-xs1"><h3>Nom:</h3></div>
              <div class="col-xs3"><h4>{{app.user.nom}}</h4></div>
              <div class="col-xs1"><h3>prenom:</h3></div>
              <div class="col-xs3"><h4>{{app.user.prenom}}</h4></div>
              <div class="col-xs1"><h3>tel:</h3></div>
              <div class="col-xs3"><h4>{{app.user.tel}}</h4></div>
              <div class="col-xs1"><h3>cin:</h3></div>
              <div class="col-xs3"><h4>{{app.user.cin}}</h4></div>
              <br>
              <div class="col-xs4">
              <a href="{{path('app_profil_edit') }}" class="btn blue">modifier le profil</a>
              <a href="{{path('app_pdf') }}" class="btn blue">avoir le PDF</a>
              </center>
              </div>
            



            </div>
            
            


            <script src="{{asset('front/js/vendor/jquery-2.2.4.min.js')}}"></script>
			<script src="{{asset('front/js/popper.min.js')}}"></script>
			<script src="{{asset('front/js/vendor/bootstrap.min.js')}}"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
 			<script src="{{asset('front/js/jquery-ui.js')}}"></script>					
  			<script src="{{asset('front/js/easing.min.js')}}"></script>			
			<script src="{{asset('front/js/hoverIntent.js')}}"></script>
			<script src="{{asset('front/js/superfish.min.js')}}"></script>	
			<script src="{{asset('front/js/jquery.ajaxchimp.min.js')}}"></script>
			<script src="{{asset('front/js/jquery.magnific-popup.min.js')}}"></script>						
			<script src="{{asset('front/js/jquery.nice-select.min.js')}}"></script>					
			<script src="{{asset('front/js/owl.carousel.min.js')}}"></script>							
			<script src="{{asset('front/js/mail-script.js')}}"></script>	
			<script src="{{asset('front/js/main.js')}}"></script>	
		</body>
	</html>